<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlServerSyncMe" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=syncMe;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="mySqlSandbox" connectionString="Data Source=localhost;Initial Catalog=sandbox;User ID=localdev;Password=localdev;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="intervalInSeconds" value="5" />
    <add key="tableSetConfigFile" value="TableMap.json" />
    <add key="enablePerformanceCounters" value="true"/>
    <add key="BaseUrl" value=""/>
    <add key="ApiKey" value=""/>
    <add key="Sender" value=""/>
    <add key="Recipient" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>